[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
rich = "*"
python-dotenv = "*"
openrouter = "*"
openai = "*"
scikit-learn = "*"
flask = "*"
flask-smorest = "*"
flask-cors = "*"
seaborn = "*"
matplotlib = "*"
imbalanced-learn = "*"

[dev-packages]

[requires]
python_version = "3.12"
